/* Contenedor */
.contenedor {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.tarjeta {
    background-color: #99c6c1;
    color: #fff;
}

.nombre {
    margin: 30px 0 30px 30px;
}

.texto {
    margin-left: 40px;
    width: auto;
}

.img {
    margin-top: 30px;
}

/* Barra de progreso */
.progresses {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 120px;
    height: 6px;
    background: #fff;
}

.line-completed {
    width: 120px;
    height: 6px;
    background: #63d19e;
}

.steps {
    display: flex;
    background-color: #fff;
    color: black;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps-completed {
    display: flex;
    background-color: #63d19e;
    color: black;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}