@font-face {
    font-family: 'Retro';
    src: url(/CEPSoft/fonts/04b_30/04B_30__.ttf);
}

//////// GENERAL STYLES ////////

body {
    margin: 0;
    // background-color: white;
    // background-image: url('../media/img/testBcImg.jpg');
    font-family: 'Open Sans';
    overflow-x: hidden;
}

hr {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgb(216, 216, 216);
}

.separadorHr {
    width: 30vw;
    margin-top: 7em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    backdrop-filter: blur(30px);
    position: fixed;
    min-height: 8vh;
    width: 100vw;
    top: 0;
    z-index: 9999;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
    
    .navLogo {
        display: flex;
        align-items: center;
    }
    
    .cepLogo {
        width: 18%;
        margin: 0em 0.5em;
    }

    .cepTitle {
        color: black;
    }

    .navLinks-desktop {
        display: none;
        padding: 0;
        width: 38em;
        justify-content: center;
    }

    .navLink-desktop {
        color: white;
        text-decoration: none;
        margin: 0em 1em;
    }

    .navLink-desktop:hover {
        background-image: linear-gradient(90deg, #7caae6, #7caae600);
        background-position: bottom;
        background-size: 100% 5%;
        background-repeat: no-repeat;
    }

    .navLinks {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        right: 0px;
        height: 92vh;
        top: 4.4em;
        margin: 0;
        align-items: center;
        background-color: white;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navLinks li {
        list-style: none;
    }
    
    .navLink {
        font-weight: bold;
        font-size: 1.3em;
        color: black;
        text-decoration: none;
    }

    .navLink:hover {
        background-image: linear-gradient(90deg, #7caae6, #7caae600);
        background-position: bottom;
        background-size: 100% 5%;
        background-repeat: no-repeat;
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    .loginBtn {
        background-color: #2E7DE4;
        border-radius: 5px;
        margin: 0em 1em;
        padding: 0.5em 1em;
        text-decoration: none;
        color: white;
    }

    .sesionoff{
        background-color: #ff0c49;
        border-radius: 5px;
        margin: 0em 1em;
        padding: 0.5em 1em;
        text-decoration: none;
        color: white;
      }

    .loginBtn:hover {
        background-color: #1b69cf;
    }

    .burger {
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
    }

//////// IMAGE SLIDER STYLE ////////

.slider {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.infoSlider {
    width: 55%;
    position: absolute;
    z-index: 50;
    top: 20em;
    margin: 4em 8em;
}

.infoSlider h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
    text-shadow: 3px -1px 10px #000000b0;
}

.infoSlider p {
    color: white;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    margin: 0;
    width: 100%;
    height: 23em;
}

.slideImg {
    filter: brightness(50%);
}

.navigation-manual {
    display: none;
}

.manual-btn {
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    margin: 0em 1em;
    z-index: 100;
}

.manual-btn:nth-child(1):hover {
    background-color: #f8141a;
}

.manual-btn:nth-child(2):hover {
    background-color: #fe8b00;
}

.manual-btn:nth-child(3):hover {
    background-color: #b85fcc;
}

.manual-btn:nth-child(4):hover {
    background-color: #5fa81a;
}

.manual-btn:nth-child(5):hover {
    background-color: #0098c5;
}

    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -20%;
    }

    #radio3:checked ~ .first {
        margin-left: -40%;
    }

    #radio4:checked ~ .first {
        margin-left: -60%;
    }

    #radio5:checked ~ .first {
        margin-left: -80%;
    }

.navigation-auto {
    position: absolute;
    width: 100%;
    // margin-top: 766px;
    top: 47.9em;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 1px solid #c9c9c9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 0em 1em;
}

.manual-btn:hover {
    background-color: white;
}

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background-color: #f8141a;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background-color: #fe8b00;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background-color: #b85fcc;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
        background-color: #5fa81a;
    }

    #radio5:checked ~ .navigation-auto .auto-btn5 {
        background-color: #0098c5;
    }

//////// CONTENEDOR INICIO ////////

.inicioContainer {
    background-color: #f7f7f7;
    
}

.centreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosInicio {
    font-size: 4em;
    background-image: linear-gradient(90deg, #1758ad6b, #ffffff00);
    background-position: bottom;
    background-size: 100% 5%;
    background-repeat: no-repeat;
}

.pText {
    display: flex;
    font-size: larger;
    justify-content: center;
    text-align: justify;
    width: 90%;
}

    //------ CONTAINER FORMACIONES ------//

    .formacionesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formacionCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .formacionCard {
        width: 25em;
        height: 32em;
        cursor: pointer;
        position: relative;
        background-color: white;
        margin: 0.5em;
        border-radius: 15px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    }

    #formacion1 {
        background-color: #ffdbb6;
    }
    #formacion2 {
        background-color: #d4ffcc;
    }
    #formacion3 {
        background-color: #f99d9d;
    }
    #formacion4 {
        background-color: #ddb0ff;
    }

    .formacionCard h4 {
        font-size: 2em;
        font-weight: bolder;
        width: 8em;
    }

    .formacionCardHeader {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0em 1em;
    }

    .formacionCardHeader img {
        width: 5em;
        height: 5em;
    }

    .formacionCard hr {
        width: 10em;
    }

    .grados {
        margin: auto;
        width: 70%;
    }

    .grados h5 {
        font-size: 1em;
        border-radius: 20px;
        padding: 0.2em 1em;
    }

    .grados h5:hover {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
        color: white;
        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    } 


    //------ CONTAINER EQUIPO ------//

    #texto4skills {
        margin: 3em 0em;
    }

    .equipoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .cardsGroup {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-inner {
        display: flex;
        justify-content: center;
        width: 20em;
        height: 30em;
        margin: 1em 1em;
        border-radius: 20px;
        background-color: rgb(34, 34, 34);
        transform-style: preserve-3d;
        transition: transform 0.6s;
    }

    .flip-card:hover .card-inner {
        transform: rotateY(180deg);
    }

    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .card-front {
        background-color: #363636;
        background-image: url('../media/img/blackLogo4SKILLS.png');
        background-size: cover;
        background-position: top;
        color: black;
        border-radius: 20px;
    }
      
    .card-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #363636;
        color: white;
        border-radius: 20px;
        transform: rotateY(180deg);
    }

    .socialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socialMedia a {
        width: 5em;
        height: 5em;
        margin: 0em 2em;
    }

    .logoScoialMedia {
        width: 5em;
        height: 5em;
    }

    .bitmojiCard {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    #bitmojiSergio {
        background-image: url('../media/img/sergioBitmoji.png');
    }
    #bitmojiFran {
        background-image: url('../media/img/frankBitmoji.png');
    }
    #bitmojiJohnny {
        background-image: url('../media/img/johnnyBitmoji.png');
    }
    #bitmojiMarc {
        background-image: url('../media/img/marcBitmoji.png');
    }

    h6 {
        color: white;
        font-size: xx-large;
        text-align: center;
        font-family: 'Retro';
        margin: 1em;
    }

//////// FOOTER STYLE ////////

footer {
    width: 100vw;
    height: 10em;
    position: relative;
    background-color: #252526;
    margin-top: 3em;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent div img {
    width: 3em;
}

.linksFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linksFooter li {
    list-style: none;
}














@media screen and (min-width: 425px) {
    .slide img {
        margin: 0;
        width: 100%;
        height: 24em;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 5em;
        margin: 4em 3em;
    }
}

@media screen and (min-width: 610px) {
    .slide img {
        margin: 0;
        width: 100%;
        height: 27em;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 7em;
        margin: 4em 3em;
    }
}

@media screen and (min-width: 768px) {

    nav {
        background-color: #ffffff1f;
        display: flex;
        justify-content: space-around;
        align-items: center;
        backdrop-filter: blur(30px);
        position: fixed;
        min-height: 8vh;
        width: 100vw;
        top: 0;
    }

    .navLogo {
        left: 3vw;
    }

    .cepTitle {
        color: white;
    }

    .navLinks-desktop {
        display: flex;
        flex-direction: row;
    }
    
    .navLinks-desktop li {
        display: block;
    }

    .burger {
        display: none;
    }

    ///// SLIDER /////

    .slide img {
        margin: 0;
        width: 100%;
        height: 32em;
    }

    .navigation-manual {
        position: absolute;
        width: 100%;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 10em;
        margin: 4em 3em;
    }

    .formacionCard {
        width: 30em;
    }
}

@media screen and (min-width: 1024px) {
    .slide img {
        margin: 0;
        width: 100%;
        height: 38em;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 10em;
        margin: 4em 3em;
    }

    .infoSlider h1 {
        font-size: 4.5em;
    }

    .infoSlider p {
        font-size: larger;
    }

    .centreContainer {
        padding: 0em 5em;
    }
}

@media screen and (min-width: 1440px) {
    .slide img {
        margin: 0;
        width: 100%;
        height: 50em;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 20em;
        margin: 4em 11em;
    }

    .centreContainer {
        padding: 0em 8em;
    }

    .centreText {
        font-size: large;
    }

    .formacionCard {
        width: 21em;
    }

    #texto4skills {
        width: 70%;
    }

}
@media screen and (min-width: 1690px) {
    .formacionCard {
        width: 25em;
    }

}

@media screen and (min-width: 2560px) {
    .slide img {
        margin: 0;
        width: 100%;
        height: 82em;
    }

    .infoSlider {
        width: 80%;
        position: absolute;
        z-index: 50;
        top: 37em;
        margin: 4em 25em;
    }

    .formacionCards {
        padding: 0em 10em;
    }
}


// Animaciones //
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}
