body {
    margin: 0;
    background-image: url("../media/img/testBcImg.jpg");
    background-repeat: no-repeat;
    height: 100em;
    font-family: 'Open Sans';
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffc7;
    backdrop-filter: blur(30px);
    position: fixed;
    min-height: 8vh;
    width: 100vw;
}
    
    .navLogo {
        display: flex;
        align-items: center;
        color: black;
    }
    
    img {
        width: 18%;
        margin: 0em 0.5em;
    }

    h3 {
        font-size: 1em;
    }

    .navLinks {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .navLinks li {
        list-style: none;
    }

    .navLink {
        color: black;
        padding: 0.5em 0em;
        text-decoration: none;
        margin: 0em 1em;
        height: 100%;
    }

    .navLink:hover {
        color: #3066ac;
        font-weight: 600;
        background-image: linear-gradient(90deg , #dfeaf0, #7caae6, #dfeaf0);
        background-position: bottom;
        background-size: 100% 5%;
        background-repeat: no-repeat;
    }
    
    .loginBtn {
        display: none;
        background-color: #2E7DE4;
        border-radius: 5px;
    }

    .burger {
        display: none;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
    }


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        background-color: white;
    }

    .navLogo {
        left: 3vw;
    }

    .navLogo h3 {
        color: black;
    }

    .cepTitle {
        color: black;
    }

    .navLink {
        font-weight: bold;
        font-size: 2em;

    }

    .navLinks {
        position: absolute;
        flex-direction: column;
        display: flex;
        right: 0px;
        height: 92vh;
        top: 8vh;
        align-items: center;
        background-color: white;
        width: 100%;
        transform: translateX(100%);
    }

    .burger {
        display: block;
    }
}