body {
  margin: 0;
  height: 100em;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

hr {
  border-color: rgba(255, 255, 255, 0);
  background-color: #d8d8d8;
}

.separadorHr {
  width: 30vw;
  margin-top: 7em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  position: fixed;
  min-height: 8vh;
  width: 100vw;
  top: 0;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.navLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cepLogo {
  width: 18%;
  margin: 0em 0.5em;
}

.cepTitle {
  color: black;
}

.navLinks-desktop {
  display: none;
  padding: 0;
  width: 38em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navLink-desktop {
  color: white;
  text-decoration: none;
  margin: 0em 1em;
}

.navLink-desktop:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#7caae6), to(#7caae600));
  background-image: linear-gradient(90deg, #7caae6, #7caae600);
  background-position: bottom;
  background-size: 100% 5%;
  background-repeat: no-repeat;
}

.navLinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  right: 0px;
  height: 92vh;
  top: 4.4em;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.navLinks li {
  list-style: none;
}

.navLink {
  font-weight: bold;
  font-size: 1.3em;
  color: black;
  text-decoration: none;
}

.navLink:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#7caae6), to(#7caae600));
  background-image: linear-gradient(90deg, #7caae6, #7caae600);
  background-position: bottom;
  background-size: 100% 5%;
  background-repeat: no-repeat;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.loginBtn {
  background-color: #2E7DE4;
  border-radius: 5px;
  margin: 0em 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: white;
}

.loginBtn:hover {
  background-color: #1b69cf;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.slider {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.infoSlider {
  width: 55%;
  position: absolute;
  z-index: 50;
  top: 4em;
  margin: 4em 3em;
}

.infoSlider h1 {
  color: white;
  font-size: 2.5em;
  margin: 0;
  text-shadow: 3px -1px 10px #000000b0;
}

.infoSlider p {
  color: white;
}

.slides {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slide img {
  margin: 0;
  width: 100%;
  height: 23em;
}

.slideImg {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.navigation-manual {
  display: none;
}

.manual-btn {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0em 1em;
  z-index: 100;
}

.manual-btn:nth-child(1):hover {
  background-color: #f8141a;
}

.manual-btn:nth-child(2):hover {
  background-color: #fe8b00;
}

.manual-btn:nth-child(3):hover {
  background-color: #b85fcc;
}

.manual-btn:nth-child(4):hover {
  background-color: #5fa81a;
}

.manual-btn:nth-child(5):hover {
  background-color: #0098c5;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  top: 47.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-auto div {
  border: 1px solid #c9c9c9;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0em 1em;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #f8141a;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fe8b00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #b85fcc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #5fa81a;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #0098c5;
}

.inicioContainer {
  background-color: #f7f7f7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 150em;
}

.inicioApartados {
  padding: 0em 1em;
  position: relative;
  width: 95%;
}

.titulosInicio {
  font-size: 4em;
  width: 271px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1758ad6b), to(#ffffff00));
  background-image: linear-gradient(90deg, #1758ad6b, #ffffff00);
  background-position: bottom;
  background-size: 100% 5%;
  background-repeat: no-repeat;
}

.centreText {
  position: absolute;
  text-align: justify;
  width: 90%;
}

.formacionCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formacionCard {
  width: 48%;
  height: 33em;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
  margin: 0.5em;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.formacionCard h4 {
  font-size: 2.5em;
  width: 8em;
}

.formacionCardHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formacionCardHeader img {
  width: 5em;
  height: 5em;
}

.formacionCard hr {
  width: 10em;
}

.grados {
  margin-top: 1.5rem;
  margin-left: 5rem;
  width: 70%;
}

.grados h5 {
  font-size: 1em;
  border-radius: 20px;
  padding: 0.2em 1em;
}

.grados h5:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  color: white;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

footer {
  height: 10em;
  background-color: blue;
  margin-top: 3em;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContent div img {
  width: 3em;
}

@media screen and (min-width: 425px) {
  .slide img {
    margin: 0;
    width: 100%;
    height: 24em;
  }
}

@media screen and (min-width: 610px) {
  .slide img {
    margin: 0;
    width: 100%;
    height: 27em;
  }
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #ffffff1f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    position: fixed;
    min-height: 8vh;
    width: 100vw;
    top: 0;
  }
  .navLogo {
    left: 3vw;
  }
  .cepTitle {
    color: white;
  }
  .navLinks-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navLinks-desktop li {
    display: block;
  }
  .burger {
    display: none;
  }
  .slide img {
    margin: 0;
    width: 100%;
    height: 32em;
  }
  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .slide img {
    margin: 0;
    width: 100%;
    height: 38em;
  }
}

@media screen and (min-width: 1440px) {
  .slide img {
    margin: 0;
    width: 100%;
    height: 50em;
  }
}

@media screen and (min-width: 2560px) {
  .slide img {
    margin: 0;
    width: 100%;
    height: 82em;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=styles.css.map */