body {
    overflow: hidden;
}

//// Estilos de la pantalla y diálogos ////

.juegoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    min-height: 30em;
}

.containerDialogo {
    background-color: #ffa300;
    width: 1200px;
    height: 8em;
    align-self: center;
    border: solid 5px #ffa300;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerDialogo div {
    margin: 0em 2em;
    border-radius: 15px;
}

.imagenNarrador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 90%;
    background-color: white;
}

.imagenNarrador img {
    height: 7em;
}

.textoNarrador {
    width: 90%;
    height: 90%;
    background-color: white;
}

.outputTexto {
    width: 70%;
    color: black;
    font-size: larger;
}


//// Estilos del juego ////

$screenWidth: 1200px;   //1200
$screenHeight: 650px;   //650

@function inicioCoche($screenWidth) {
    @return $screenWidth + 20;
}

.juego {
    position: absolute;
    top: 8em;
    border:solid 5px #ffa300;
    // background-color: black;
    background-image: url("./media/img/mapaFrase.png");
    // Dimensiones del mapa
        width: $screenWidth;
        height: $screenHeight;
    align-self: center;
    border-radius: 0px 0px 15px 15px;
}

#character {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 30px;
    height: 40px;
    // border: 1px solid;
    // border-color: white;
    transition: 0.3s;
    top: 80px;
    left: 40px;
}

.coche {
    background-image: url("./media/img/coche.gif");
    width: 50px;
    height: 20px;
    position: relative;
    top: 40%;
    // left: inicioCoche($screenWidth);
    // background-color: blue;
    
    transition: 0.3s;
}

// Gemas //

.gema {
    position: absolute;
    width: 40px;
    height: 40px;
}

#gemaF {
    background-image: url("./media/img/gemaF.gif");
    background-color: red;

    top: 425px;
    left: 240px;
}
#gemaR {
    background-image: url("./media/img/gemaR.gif");
    background-color: yellow;
}
#gemaA {
    background-image: url("./media/img/gemaA.gif");
    background-color: purple;
}
#gemaS {
    background-image: url("./media/img/gemaS.gif");
    background-color: green;
}
#gemaE {
    background-image: url("./media/img/gemaE.gif");
    background-color: aqua;
}

.collision {
    margin: 0;
    width: 1130px;
    height: 60px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 70px;
}