
@import url("node_modules/pixel-borders/src/styles/pixel-borders.scss");
@import url('http://fonts.cdnfonts.com/css/common-pixel');
@import url('http://fonts.cdnfonts.com/css/pixel-art');


/*cuadrod dej juego*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  /* background-color: rgb(34, 21, 21);*/
  color: #111;
  background-image: url("../img/fondo/oficinal_final.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
#gif{
  width: 500px;
}
.score {
 
  color:white;
  right: 40%;
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  position: fixed;
  left: 47%;
  top: 27em;
  transition: opacity 0.2s;
  width: 135px;
  height: 40px;
  box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black,
    0 7px 0 0 black;
  background-image: url("../img/fondo/ladrillos.png");
}
.timer {
  
  color:white;
  right: 40%;
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  position: fixed;
  left: 47%;
  top: 24em;
  width: 135px;
  height: 80px;
  box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black, 0 7px 0 0 black;
background-image: url("../img/fondo/ladrillos.png");}

#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  border: 5px double #fff;
  border-radius: 14px;
  padding: 8px 10px;
  outline: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
  opacity: 0;
}
#play-again-btn:hover {
  background-color: rgb(158, 4, 4);
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
.draggable-items {
  display: flex;
  justify-content: center;
  margin: 7rem -1rem 11.5rem 6rem;
  transition: opacity 0.5s;
  width: 45%;
  height: 6rem;
  margin-left: 30em;
  background-color: white;
  margin: 6em auto;
  box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black,
    0 7px 0 0 black;
  background-image: url("../img/fondo/ladrillos.png");
}

.draggable {
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0.3rem 0.5rem;
  cursor: move;
  transition: opacity 0.1s;
}
.draggable:hover {
  opacity: 0.5;
  
}
.matching-pairs {
  transition: opacity 0.5s;
  margin-top: 10rem;
}
.matching-pair {
  height: 6rem;
  width: 22rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
.matching-pair span {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  font-size: 13px;
  /*border-radius: 25%;*/
  box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black, 0 7px 0 0 black;
  
}

.label {
  width: 15rem;
  font-size: 2rem;
}
.droppable {
  width: 6rem;
  font-size: 4rem;
  background-color: #fff;
 /* border: 3px dashed #111;*/
  transition: 0.2s;
}
.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}
.dropped {
  border-style: solid;
}
.dragged {
  user-select: none;
  opacity: 0; /*opacidad al dejarlo colocado */
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  #play-again-btn {
    top: -0.4rem;
  }
  #play-again-btn.play-again-btn-entrance {
    transform: translateX(7rem);
  }
}
/* tamaño imagenes*/

img.Job1_drop {
  width: 107px;
  height: 90px;
}
img.Job2_drop {
  width: 107px;
  height: 66.5px;
}
img.Job3_drop {
  width: 107px;
  height: 66.5px;
}
img.Job4_drop {
  width: 107px;
  height: 66.5px;
}
img.Job5_drop {
  width: 107px;
  height: 66.5px;
}
img.Job6_drop {
  width: 107px;
  height: 66.5px;
}

img.Job7_drop {
  width: 107px;
  height: 66.5px;
}

/*tooltip-text*/
/*textos inferiores*/
.tooltip {
  font-family: 'PixelOperatorHBRegular';
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;

  width: 600%;
  padding: 20px 20px;

  background: #3a3737;
  color: #fffdfd;

  position: absolute;
  top: -130%;
  left: -25%;

  
  font-weight: normal;
  font-style: normal;

  transform: translateY(9px);
  transition: all 0.1s ease-in-out;
  box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black,
  0 7px 0 0 black;
}

/* tooltip  after FLECHITA*/
/*
.tooltip::after {
  
  content: " ";
  width: 3;
  height: 3;
  

  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #9e96fb transparent transparent transparent;

  position: absolute;
  right: 4%;
}*/

.con-tooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: 0.5s linear;
  animation: odsoky 1s ease-in-out infinite alternate;
}
@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}

/*hover ToolTip*/
.left:hover {
  transform: translateX(-6px);
}
.top:hover {
  transform: translateY(-6px);
}
.bottom:hover {
  transform: translateY(6px);
}
.right:hover {
  transform: translateX(6px);
}

/*left*/

.left .tooltip {
  top: -20%;
  left: -170%;
}

.left .tooltip::after {
  top: 40%;
  left: 90%;
  transform: rotate(-90deg);
}

/*bottom*/

.bottom .tooltip {
  top: 115%;
  left: -20%;
}

.bottom .tooltip::after {
  top: -17%;
  left: 40%;
  transform: rotate(180deg);
}

.right .tooltip {
  top: -20%;
  left: 115%;
}

.right .tooltip::after {
  top: 40%;
  left: -12%;
  transform: rotate(90deg);
}

/*////////////////////////////////////////////////////*/

/* jobs*/
.matching-pair[id="job1"] {
  /*we*/
  position: absolute;
  top: 19em;
  left: 73em;
  right: 0;
  bottom: -6em;
  
}

.matching-pair[id="job2"] {
  
  position: absolute;
  top: 37em;
  right: 0;
  bottom: -6em;
  left: 21em;
}
.matching-pair[id="job3"] {

  position: absolute;
  top: 30em;
  left: 111em;
  right: 0;
  bottom: -7em;
}
.matching-pair[id="job4"] {
  
  position: absolute;
  top: 38em;
  left: -19em;
  right: 0;
  bottom: -6em;
}
.matching-pair[id="job5"] {
  /*we*/
  
  position: absolute;
  top: 15em;
  right: 0;
  bottom: -10em;
  left: -82em;
}


.matching-pair[id="job6"] {
  
  position: absolute;
  top: 24em;
  left: 89em;
  right: 0;
  bottom: -1em;
}
.matching-pair[id="job7"] {
  
  position: absolute;
  top: 31em;
  left: -5em;
  right: 0;
  bottom: -1em;
}
.matching-pair[id="job8"] {
  
  position: absolute;
  top: 20em;
  left: -5em;
  right: 0;
  bottom: -1em;
}
.matching-pair[id="job9"] {
  
  position: absolute;
    top: 44em;
    right: 0;
    bottom: -125em;
    left: 79em;
}
.matching-pair[id="job10"] {
  
  font-weight: normal;
   font-style: normal;
  position: absolute;
  top: 38em;
  right: 0;
  /* bottom: -44em; */
  left: -78em;
}

/*DISEÑO POPOUP/////////////////////
//////////////////////////////////
/////////////////////////////////*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}*/

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.contenedor article {
  line-height: 28px;
}

.contenedor article h1 {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.contenedor article p {
  margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 3;
}

.overlay.active {
  visibility: visible;
}

.overlay-cerrar{
  height: 384px;

}
.popup {
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;

  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;

}

.popup h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}
.popup img {
  margin-bottom: 40px;
  width: 85%;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(0.9);
  margin-top: 5%;
  opacity: 1;
  height: 834px;
  background-color: black;
  font-family: 'Pixel-Art', sans-serif;
}
.popup.active h3 {
  animation: entradaTitulo 0.8s ease 0.5s forwards;
  font-family: 'Common Pixel', sans-serif;
 color:rgb(255, 255, 255) ;
}
.popup.active h4 {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
  font-family: 'Common Pixel', sans-serif;
 color:rgb(255, 255, 255) ;
}
.popup.active h2 {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
  font-family: 'Common Pixel', sans-serif;
 color:rgb(255, 255, 255) ;
}
.popup.active p {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
  font-family: 'Common Pixel', sans-serif;
 color:rgb(255, 255, 255) ;
}
.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup .btn-cerrar{
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #7ace60;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: 'Common Pixel', sans-serif;
  Margin-top: 351px;
}

.popup .btn-cerrar {
  background: rgba(121, 227, 94, 0.9);
  font-family: 'Common Pixel', sans-serif;
  Margin-top: 235px;
}
.popup .btn-cerrar-facil {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #7ace60;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: 'Common Pixel', sans-serif;


}

.popup .btn-cerrar-facil {
  background: rgba(121, 227, 94, 0.9);
  font-family: 'Common Pixel', sans-serif;
}

.popup .btn-cerrar-medio {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #e3e15e;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;

  font-family: 'Common Pixel', sans-serif;

}

.popup .btn-cerrar-medio {
  background: #e3e15e;
  font-family: 'Common Pixel', sans-serif;
}

.popup .btn-cerrar-dificil {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #c45c5cf5;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: 'Common Pixel', sans-serif;
}

.popup .btn-cerrar-dificil {
  background: #c45c5cf5;
  font-family: 'Common Pixel', sans-serif;
}

.img_drop{
  width: 213px;
    height: 90px;
    border-radius: 25%;
}

.errores_js{
  color: rgb(173, 43, 34);
}
.acioertos_js{
  color: rgb(137, 245, 49);
}
.black{

  position: absolute;
    width: 97px;
    height: 96px;
    border-radius: 25%;
    background-image: url("../img/fondo/iter.png");
}
.black:hover{
  opacity: 0;
}
